.video__duration {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    left: 30px;
    top: 165px;
    position: absolute;
    margin: 0;
    z-index: 2;
}