.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    width: 1094.27px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    color: #FFFDFD;
    text-align: center;




    z-index: 1;
}