.video__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin: 0;
}